.clientInfo {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.clientSection {
  display: flex;
  font-size: 0.8rem;
  gap: 2.8rem;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.container {
  align-items: center;
  background-color: var(--pinkColor);
  color: var(--darkMediumColor);
  display: flex;
  font-family: var(--fontFamilySheet);
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.fieldGroup {
  padding: 0.6rem 0;
}

.fieldLabel {
  display: inline-block;
  font-weight: bold;
  padding-right: 0.5rem;
}

.fieldLabelRight {
  font-weight: bold;
  padding-right: 1.2rem;
  text-align: right;
}

.fieldLabels {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.fieldValue {
  font-size: 0.8rem;
  font-weight: 400;
  justify-self: flex-start;
  text-align: right;
}

.fieldValues {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.footer {
  margin-top: 1.2rem;
  text-align: center;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 1.2rem;
}

.orderInfo {
  display: flex;
}

.productsTable {
  border: 0.1rem solid var(--darkMediumColor);
  border-collapse: collapse;
  margin: 1.2rem auto 2.5rem;
  width: 100%;
}

.productsTable .priceColumn {
  text-align: right;
}

.productsTable td {
  border-bottom: 0.1rem solid var(--darkMediumColor);
  padding: 0.6rem 1.2rem;
  text-align: left;
}

.productsTable th {
  border-bottom: 0.1rem solid var(--darkMediumColor);
  font-size: 1rem;
  padding: 0.6rem 1.2rem;
  text-align: left;
}

.sheet {
  background-color: var(--lightColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 58rem;
  padding: 2.5rem;
  width: 41rem;
}

.separatorLine {
  background-color: #ccc;
  height: 0.9rem;
  margin-bottom: 0.9rem;
  width: 100%;
}

.title {
  font-size: 2.5rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.totalRow {
  align-items: center;
  border: 0.1rem solid var(--darkMediumColor);
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  justify-content: space-between;
  padding: 0.6rem 1.1rem;
}

