.container {
  align-items: center;
  background-color: var(--pinkColor);
  color: var(--darkMediumColor);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  font-family: var(--fontFamilySheet);
}

.sheet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--lightColor);
  width: 662px;
  height: 935px;
  padding: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 20px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.separatorLine {
  height: 14px;
  width: 100%;
  background-color: #ccc;
  margin-bottom: 14px;
}

.title {
  font-size: 40px;
}

.clientSection {
  display: flex;
  justify-content: space-between;
  gap: 44px;
  font-size: 18px;
  margin-bottom: 30px;
}

.clientInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.orderInfo {
  display: flex;
}

.fieldGroup {
  padding: 10px 0;
}

.fieldLabel {
  font-weight: bold;
  padding-right: 8px;
  display: inline-block;
}

.fieldLabelRight {
  font-weight: bold;
  text-align: right;
  padding-right: 20px;
}

.fieldValue {
  font-weight: 400;
  font-size: 1rem;
  text-align: right;
}

.productsTable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--darkMediumColor);
  margin: 20px auto 40px;
}

.productsTable th {
  border-bottom: 1px solid var(--darkMediumColor);
  text-align: left;
  padding: 10px 20px;
  font-size: 20px;
}

.productsTable td {
  border-bottom: 1px solid var(--darkMediumColor);
  padding: 10px 20px;
  text-align: left;
}

.productsTable .priceColumn {
  text-align: right;
}

.totalRow {
  border: 2px solid var(--darkMediumColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 18px;
  font-size: 28px;
  font-weight: bold;
}

.footer {
  margin-top: 20px;
  text-align: center;
}
