

.container {
    align-items: center;
    background-color: var(--darkColor);
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
    font-family: var(--fontFamilyProject);
}

.form {
    align-items: center;
    color: var(--lightMediumColor);
    display: flex;
    justify-content: center;
}

fieldset {
    border-radius: 0.6rem;
    border-width: 0.2rem;
    padding: 2rem 1rem;
    
}

legend {
    color: var(--lightMediumColor);
    font-size: 1.8rem;
    font-weight: bold;
    padding: 0 0.8rem;
}