.containerFormScreen {
    align-items: center;
    background-color: var(--whiteColor);
    display: flex;
    flex-direction: column;
    font-family: var(--fontFamilyProject);
    height: 100vh;
    justify-content: space-between;
    padding: 2.4rem;
    width: 100vw;
}

.formFieldset {
    border: 0.2rem solid var(--pinkColor);
    border-radius: 0.6rem;
    padding: 4rem 2rem;
}

.formLegend {
    color: var(--lightMediumColor);
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0 0.8rem;
    text-align: center;
}

.formWrapper {
    align-items: center;
    color: var(--pinkColor);
    display: flex;
    justify-content: center;
}

@media (max-width: 31.2rem) {
    .containerFormScreen {
        padding: 1rem;
    }

    .formFieldset {
        padding: 1rem 0.4rem;
    }
}
