.containerFormScreen {
    align-items: center;
    background-color: var(--whiteColor);
    display: flex;
    flex-direction: column;
    font-family: var(--fontFamilyProject);
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

.formWrapper {
    align-items: center;
    color: var(--pinkColor);
    display: flex;
    justify-content: center;
}

.formFieldset {
    border: 0.2rem solid var(--pinkColor);
    border-radius: 0.6rem;
    padding: 4rem 2rem;
}

.formLegend {
    color: var(--lightMediumColor);
    font-weight: bold;
    font-size: 1.8rem;
    padding: 0 0.8rem;
}