.subimt {
    background-color: var(--pinkColor);
    border: none;
    border-radius: 0.4rem;
    color: var(--darkMediumColor);
    display: flex;
    font-size: 1.4rem;
    font-weight: bold;
    height: 3rem;
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.subimt:active {
    opacity: 0.6;
    transform: scale(0.98);
}

.subimt:hover {
    background-color: var(--pinkColor);
    cursor: pointer;
    opacity: 0.8;
    transition: 0.2s;
}
